<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>CoronaVirus tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<p data-th-text="${testName}"></p>

<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases reported</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}">State</td>
        <td th:text="${locationStat.country}">Country</td>
        <td th:text="${locationStat.latestTotalCases}">Total</td>
    </tr>
</table>

</body>

</html>